.sin-slider-blog {
  position: relative;
}
.slider-box {
  height: 600px;
}
.slider-blog-img {
  background: black;
  overflow: hidden;
}

.slider-blog-img img {
  object-fit: cover;
  opacity: 0.4;
  width: 100%;
  height: 600px;
}

.slider-blog-content {
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  border: 1px solid gray;
  width: 350px;
  padding: 25px;
  text-align: center;
}

.slider-blog-content h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 800;
}

.slider-blog-content p {
  color: #fff;
  padding: 15px 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}
.slider-blog .slick-prev,
.slider-blog .slick-next {
  top: 50%;
  z-index: 40;
}

body {
  overflow-x: hidden;
}

/* .slick-dots {
    bottom: 70%;
    display: inline-grid !important;
    left: 5%;
  } */

.slider-blog .slick-dots li button:before {
  font-size: 15px;
}

.slider-blog .slick-dots li.slick-active button:before {
  opacity: 0.9;
  color: #4f46e5;
}

.slider-blog .slick-dots li button:before {
  color: #fff;
}

.slider-blog .slick-prev:before,
.slider-blog .slick-next:before {
  font-size: 50px;
  color: #fff;
  display: none;
}

.slider-blog .slick-prev {
  left: 5% !important;
}

.slider-blog .slick-next {
  right: 5% !important;
}

.slider-blog .slick-dots li button:before {
  color: #777;
}
.slider-img img {
  height: 400px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .slider-blog-content h2 {
    font-size: 22px;
    color: #fff;
    font-weight: 800;
  }

  .slider-blog-content p {
    color: #fff;
    padding: 5px 0 5px 0;
    font-size: 13px;
    font-weight: 500;
  }
  .slider-blog .slick-prev {
    left: 2% !important;
  }

  .slider-blog .slick-next {
    right: 9% !important;
  }
  .slider-blog-content {
    top: 13%;
  }
  .promotion-post {
  }
}
.promotion-post img {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 300px;
}
/* Background color */
.primary_BG_color {
  background-color: #022335;
}

/* primary color */

.primary_color {
  color: #dd2400;
}

/* button color */
.primary_BTN {
  color: #fff;
  background-color: #dd2400;
  border: 1px solid #dd2400;
}
.primary_BTN:hover {
  color: #dd2400;
  background-color: #fff;
  border: 1px solid #dd2400;
}
.primary_BTN_Outline {
  color: #dd2400;
  background-color: #dd250005;
  border: 1px solid #dd2400;
}
.primary_BTN_Outline:hover {
  background-color: #dd2500;
  color: #fff;
  border: 1px solid #dd2400;
}
.side-link a:active {
  color: #fff;
}
